* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('Group\ 29.svg'); 
    background-color: #FFF5CD;
    background-size:  contain; 
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 1150px;
    height: 200px;
    background-color: #FFF2BE;
    border: 2px solid #333;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.card h3 {
    text-align: left;
    font-size: 22px; 
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 5px; 
    font-weight: bold;
}

.card p {
    font-size: 15px; 
    line-height: 1.6; 
    padding:0 20px 20px 20px; 
    margin: 0; 
    text-align: justify; 
    color: black
}

.card-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 {
    margin-top: 20px;
    width: 1150px;
    height: 200px;
    background-color: #FFF2BE;
    border: 2px solid #333;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.card1 h3 {
    text-align: left;
    font-size: 22px; 
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 5px; 
    font-weight: bold;
}

.card1 p {
    font-size: 15px; 
    line-height: 1.6; 
    padding:0 20px 20px 20px; 
    margin: 0; 
    text-align: justify; 
    color: black
}   

.card-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 {
    width: 1150px;
    height: 200px;
    background-color: #FFF2BE;
    border: 2px solid #333;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.card2 h3 {
    text-align: left;
    font-size: 22px; 
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.card2 p {
    font-size: 15px; 
    line-height: 1.6;
    margin: 10px 0; 
    padding:0 20px 0px 20px; 
    display: flex;
    align-items: center;
}

.card2 p i {
    margin-right: 10px; 
    font-size: 20px; /* Ukuran ikon */
    color: #007BFF; /* Warna ikon */
}

.button-container {
    display: flex;
    justify-content: center;
    
}

.back-button {
    background-color: white;
    border: 2px black solid;
    height: 45px;
    width: 200px;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button:hover {
    background-color: #007BFF;
    color: #FFF;
}

